<ion-header class="header-cls">        
    <ion-toolbar>
        <ion-buttons left>
            <button icon-only ion-button class="backButton" (click)="goBack()">            
                <ion-icon name="ios-arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title class="titleStyle">Contratar Seguro de Auto</ion-title>
    </ion-toolbar>        
</ion-header>
        
<ion-content>
    <ion-row>
        <ion-col col-12>
            <ion-row class="tabs-swap-wrap" >
                <ion-row align-items-center justify-content-center [ngClass]="{active:topTab == 'Producto'}" (tap)="changeTab('Producto')" >
                    <span>{{ "AcquireProductPage.productTabText" | translate }}</span>
                </ion-row>
                <ion-row  align-items-center justify-content-center [ngClass]="{activeX:topTab == 'Compara'}" (tap)="changeTab('Compara')">
                    <span>{{ "AcquireProductPage.compareTabText" | translate }}</span>
                </ion-row>
                <ion-row align-items-center justify-content-center [ngClass]="{activeY:topTab == 'Cliente'}" (tap)="changeTab('Cliente')">
                        <span>{{ "AcquireProductPage.clientTabText" | translate }}</span>
                </ion-row>  
                <ion-row  align-items-center justify-content-center [ngClass]="{activeM:topTab == 'Pago'}" (tap)="changeTab('Pago')">
                    <span>{{ "AcquireProductPage.paymentTabText" | translate }}</span>
                </ion-row>                    
                <ion-row  align-items-center justify-content-center [ngClass]="{activeZ:topTab == 'Tarjeta'}" (tap)="changeTab('Tarjeta')">
                    <span>Tarjeta</span>
                </ion-row>                                      
            </ion-row>

            <ion-row class="steps" id="steps">
                <span>Paso 1 de 5</span>
            </ion-row>
                        
            <!-- SECCION DE PRODUCTO -->
            <!-- Paso 1 de 5 -->
                        
            <ion-row class="cliente-tab" [hidden]="topTab != 'Producto'" id="step1">
                <ion-col col-12>
                    <ion-row [hidden] = "productoContinuarShown">
                        <ion-col col-12>
                            <ion-row align-items-center class="item-wrapper input" id="inputCP" (tap)="showAlertCP1()">
                                <ion-col col-10>
                                    <div>Código Postal</div>
                                    <div>{{codigoPostal1}}</div>
                                </ion-col>
                                <ion-col col-2>
                                    <ion-icon name="ios-arrow-forward"></ion-icon>
                                </ion-col>
                            </ion-row>                                

                            <ion-row align-items-center class="item-wrapper input required" id="inputEdad" (tap)="showAlertEdad()">
                                <ion-col col-10>
                                    <div>Edad</div>
                                    <div>{{edad}}</div>
                                </ion-col>
                                <ion-col col-2>
                                    <ion-icon name="ios-arrow-forward"></ion-icon>
                                </ion-col>
                            </ion-row>                        
                
                            <ion-row align-items-center class="item-wrapper input required" id="inputMarca" (tap)="showAlertMarca()">
                                <ion-col col-10>
                                    <div>Marca</div>
                                    <div>{{marca}}</div>
                                </ion-col>
                                <ion-col col-2>
                                    <ion-icon name="ios-arrow-forward"></ion-icon>
                                </ion-col>                                
                            </ion-row>

                            <ion-row align-items-center class="item-wrapper input required" [ngClass]="{disabled:modelo == undefined}" id="inputModelo" (tap)="showAlertModelo()">
                                <ion-col col-10>
                                    <div>Modelo</div>
                                    <div>{{modelo}}</div>
                                </ion-col>
                                <ion-col col-2>
                                    <ion-icon name="ios-arrow-forward"></ion-icon>
                                </ion-col>
                            </ion-row>

                            <ion-row align-items-center class="item-wrapper input required" [ngClass]="{disabled:subMarca == undefined}" id="inputSubMarca" (tap)="showAlertSubMarca()">
                                <ion-col col-10>
                                    <div>Submarca</div>
                                    <div>{{subMarca}}</div>
                                </ion-col>
                                <ion-col col-2>
                                    <ion-icon name="ios-arrow-forward"></ion-icon>
                                </ion-col>
                            </ion-row>

                            <ion-row align-items-center class="item-wrapper input required" [ngClass]="{disabled:descripcion == undefined}" id="inputDescripcion" (tap)="showAlertDescripcion()">
                                <ion-col col-10>
                                    <div>Descripción</div>
                                    <div>{{descripcion}}</div>
                                </ion-col>
                                <ion-col col-2>
                                    <ion-icon name="ios-arrow-forward"></ion-icon>
                                </ion-col>
                            </ion-row>

                            <ion-row align-items-center class="item-wrapper input required" [ngClass]="{disabled:subDescripcion == undefined}" id="inputSubDescripcion" (tap)="showAlertSubDescripcion()">
                                <ion-col col-10>
                                    <div>Subdescripción</div>
                                    <div>{{subDescripcion}}</div>
                                </ion-col>
                                <ion-col col-2>
                                    <ion-icon name="ios-arrow-forward"></ion-icon>
                                </ion-col>
                            </ion-row>

                            <!--<ion-row align-items-center justify-content-center class="bot-button" (tap)="fillTab1()" >
                                <span>TEST</span>
                            </ion-row>-->

                            <ion-row align-items-center justify-content-center class="bot-button" (tap)="changeTab('Compara')" >
                                <span>{{ "AcquireProductPage.following" | translate }}</span>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </ion-col>                        
            </ion-row>                

            <!-- Paso 3 de 5 -->
            <ion-row class="cliente-tab" id="step3" [hidden]="topTab != 'Cliente'">
                <ion-col col-12>
                    <ion-row [hidden] = "productoContinuarShown">
                        <ion-col col-12>

                            <!--<ion-row class="main-text">
                                <span>{{ "AcquireProductPage.searchCustomer" | translate }}</span>
                            </ion-row>
                            <ion-row class="input-container">
                                <ion-row class="input-wrapper">
                                    <ion-input [placeholder]='"AcquireProductPage.searchCustomerPlaceholder" | translate'></ion-input>
                                    <ion-icon class="search-icon" name="search" item-right></ion-icon>
                                </ion-row>
                            </ion-row>-->

                            <ion-row align-items-center class="item-wrapper input required" id="inputEmail" (tap)="showAlertEmail()">
                                <ion-col col-10>
                                    <div>Email</div>
                                    <div>{{email}}</div>
                                </ion-col>
                                <ion-col col-2>
                                    <ion-icon name="ios-arrow-forward"></ion-icon>
                                </ion-col>                                
                            </ion-row>

                            <ion-row align-items-center class="item-wrapper input required" id="inputNombre" (tap)="showAlertNombre()">
                                <ion-col col-10>
                                    <div>Nombre</div>
                                    <div>{{nombre}}</div>
                                </ion-col>
                                <ion-col col-2>
                                    <ion-icon name="ios-arrow-forward"></ion-icon>
                                </ion-col>                                
                            </ion-row>

                            <ion-row align-items-center class="item-wrapper input required" id="inputPaterno" (tap)="showAlertApellidoP()">
                                <ion-col col-10>
                                    <div>Apellido Paterno</div>
                                    <div>{{paterno}}</div>
                                </ion-col>
                                <ion-col col-2>
                                    <ion-icon name="ios-arrow-forward"></ion-icon>
                                </ion-col>
                            </ion-row>

                            <ion-row align-items-center class="item-wrapper input required" id="inputMaterno" (tap)="showAlertApellidoM()">
                                <ion-col col-10>
                                    <div>Apellido Materno</div>
                                    <div>{{materno}}</div>
                                </ion-col>
                                <ion-col col-2>
                                    <ion-icon name="ios-arrow-forward"></ion-icon>
                                </ion-col>
                            </ion-row>              

                            <ion-row align-items-center class="item-wrapper input">
                                <ion-col col-10>
                                    <div>Fecha de Nacimiento</div>                                    
                                    <div>{{fechaNacimiento}}</div>
                                    <ion-datetime pickerFormat="YYYY MMMM DD" displayFormat="YYYY MMMM DD"  [monthNames]="datePickerNames.month" [(ngModel)]="fechaNacimiento" cancelText="CANCELAR" doneText="OK" max="{{maxYear}}" id="datepiker"></ion-datetime>
                                </ion-col>
                                <ion-col col-2>
                                    <ion-icon name="ios-arrow-forward"></ion-icon>
                                </ion-col>                                
                            </ion-row>

                            <ion-row align-items-center class="item-wrapper input required" id="inputGenero" (tap)="showAlertGenero()">
                                <ion-col col-10>
                                    <div>Género</div>
                                    <div>{{genero}}</div>
                                </ion-col>
                                <ion-col col-2>
                                    <ion-icon name="ios-arrow-forward"></ion-icon>
                                </ion-col>                                
                            </ion-row>

                            <ion-row align-items-center class="item-wrapper input required" id="inputTelefonoCasaModal" (tap)="showAlertTelefonoCasa()">
                                <ion-col col-10>
                                    <div>Teléfono de Casa</div>
                                    <div>{{telCasa}}</div>
                                </ion-col>
                                <ion-col col-2>
                                    <ion-icon name="ios-arrow-forward"></ion-icon>
                                </ion-col>
                            </ion-row>                        

                            <ion-row align-items-center class="item-wrapper input required" id="inputCellPhone" (tap)="showAlertTelefonoMovil()">
                                <ion-col col-10>
                                    <div>Teléfono Móvil</div>
                                    <div>{{telMovil}}</div>                                    
                                </ion-col>
                                <ion-col col-2>
                                    <ion-icon name="ios-arrow-forward"></ion-icon>
                                </ion-col>
                            </ion-row>

                            <ion-row align-items-center class="item-wrapper input required" id="inputRfc" (tap)="showAlertRFC()">
                                <ion-col col-10>
                                    <div>RFC</div>
                                    <div>{{rfc}}</div>                                    
                                </ion-col>
                                <ion-col col-2>
                                    <ion-icon name="ios-arrow-forward"></ion-icon>
                                </ion-col>
                            </ion-row>
                            
                            <!--<ion-row class="item-wrapper input required" id="inputNacionalidad"  [ngStyle]="{ 'opacity': (isEnabledTipo3 ? '1' : '.5') }" (tap)="showAlertNacionalidad()">
                                <ion-row>
                                    <ion-row align-items-center class="main-text">
                                        <span>{{ "AcquireProductPage.nationality" | translate }}</span>
                                    </ion-row>
                                    <ion-row align-items-start class="sub-text">{{nacionalidad}}</ion-row>
                                </ion-row>
                                <ion-row align-items-center class="arrow-button">
                                    <img src="assets/icon/bt-siguiente.png">
                                </ion-row>                            
                            </ion-row>
                            <ion-row class="item-wrapper input required" id="inputLugarNac" [ngStyle]="{ 'opacity': (isEnabledTipo3 ? '1' : '.5') }" (tap)="showAlertLugarDeNacimiento()">
                                <ion-row>
                                    <ion-row align-items-center class="main-text">
                                        <span>{{ "AcquireProductPage.placeOfBirth" | translate }}</span>
                                    </ion-row>
                                    <ion-row align-items-start class="sub-text">{{lugarNacimiento}}</ion-row>
                                </ion-row>
                                <ion-row align-items-center class="arrow-button">
                                    <img src="assets/icon/bt-siguiente.png">
                                </ion-row>                            
                            </ion-row>-->

                            <ion-row align-items-center class="item-wrapper input required disabled" id="inputCodigoPostal"> <!-- (tap)="showAlertCodigoPostal()"-->
                                <ion-col col-10>
                                    <div>Código Postal</div>
                                    <div>{{codigoPostal1}}</div>                                    
                                </ion-col>
                                <ion-col col-2>
                                    <ion-icon name="ios-arrow-forward"></ion-icon>
                                </ion-col>                                
                            </ion-row>

                            <ion-row align-items-center class="item-wrapper input required" id="inputColonia" (tap)="showAlertColony()">
                                <ion-col col-10>
                                    <div>Colonia</div>
                                    <div>{{colonia}}</div>
                                </ion-col>
                                <ion-col col-2>
                                    <ion-icon name="ios-arrow-forward"></ion-icon>
                                </ion-col>
                            </ion-row>

                            <ion-row align-items-center class="item-wrapper input disabled">
                                <ion-col col-10>
                                    <div>Estado</div>
                                    <div>{{estado}}</div>                                    
                                </ion-col>
                                <ion-col col-2>
                                    <ion-icon name="ios-arrow-forward"></ion-icon>
                                </ion-col>
                            </ion-row>

                            <ion-row align-items-center class="item-wrapper input disabled">
                                <ion-col col-10>
                                    <div>Delegación/Municipio</div>
                                    <div>{{delegacion}}</div>                                    
                                </ion-col>
                                <ion-col col-2>
                                    <ion-icon name="ios-arrow-forward"></ion-icon>
                                </ion-col>                                
                            </ion-row>    

                            <ion-row align-items-center class="item-wrapper input required" id="inputCalle" (tap)="showAlertCalle()">
                                <ion-col col-10>
                                    <div>Calle</div>
                                    <div>{{calle}}</div>
                                </ion-col>
                                <ion-col col-2>
                                    <ion-icon name="ios-arrow-forward"></ion-icon>
                                </ion-col>
                            </ion-row>

                            <ion-row align-items-center class="item-wrapper input required" id="inputNumExt" (tap)="showAlertNoExt()">
                                <ion-col col-10>
                                    <div>Número Exterior</div>
                                    <div>{{numExterior}}</div>                                    
                                </ion-col>
                                <ion-col col-2>
                                    <ion-icon name="ios-arrow-forward"></ion-icon>
                                </ion-col>                                
                            </ion-row>

                            <ion-row align-items-center class="item-wrapper input" id="inputNumInt" (tap)="showAlertNoInt()">
                                <ion-col col-10>
                                    <div>Número Interior</div>
                                    <div>{{numInterior}}</div>                                    
                                </ion-col>
                                <ion-col col-2>
                                    <ion-icon name="ios-arrow-forward"></ion-icon>
                                </ion-col>
                            </ion-row>
                            
                            <ion-row class="main-textSeparador">
                                <span>Datos del vehículo</span>
                            </ion-row>

                            <ion-row align-items-center class="item-wrapper input required" id="inputNumMotor" (tap)="showAlertNumeroDeMotor()">
                                <ion-col col-10>
                                    <div>Número de Motor</div>
                                    <div>{{numMotor}}</div>
                                </ion-col>
                                <ion-col col-2>
                                    <ion-icon name="ios-arrow-forward"></ion-icon>
                                </ion-col>                                
                            </ion-row>

                            <ion-row align-items-center class="item-wrapper input required" id="inputNumSerie" (tap)="showAlertNumeroDeSerie()">
                                <ion-col col-10>
                                    <div>Número de Serie</div>
                                    <div>{{numSerie}}</div>                                    
                                </ion-col>
                                <ion-col col-2>
                                    <ion-icon name="ios-arrow-forward"></ion-icon>
                                </ion-col>                                
                            </ion-row>

                            <ion-row align-items-center class="item-wrapper input required" id="inputNumPlacas" (tap)="showAlertNumeroDePlacas()">
                                <ion-col col-10>
                                    <div>Número de Placas</div>
                                    <div>{{numPlacas}}</div>                                    
                                </ion-col>
                                <ion-col col-2>
                                    <ion-icon name="ios-arrow-forward"></ion-icon>
                                </ion-col>                                
                            </ion-row>

                            <!--<ion-row align-items-center justify-content-center class="bot-button" (tap)="fillTab3()" >
                                <span>TEST</span>
                            </ion-row>-->

                            <ion-row align-items-center justify-content-center class="bot-button" (tap)="changeTab('Pago')">   
                                <span>{{ "AcquireProductPage.saveAndContinue" | translate }}</span>
                            </ion-row>                        
                        </ion-col>
                    </ion-row>
                </ion-col>    
            </ion-row>

            <!--SECCION DE COMPARAR-->
            <ion-row class="compara-tab" [hidden]="topTab != 'Compara'">
                <ion-col col-12>
                    <ion-row class="main-text">
                        <span>Descripción del auto</span>
                    </ion-row>  
                    <ion-row *ngIf="!comparaDetailShown">
                        <ion-col col-12>
                            
                            <!--<ion-row align-items-center justify-content-center class="title">-->
                            <ion-row id="title2">
                                <ion-col col-12>
                                    <div id="nombreAuto"></div>
                                    <div id="descrAuto"></div>
                                    <div id="subDescrAuto"></div>
                                </ion-col>                                
                            </ion-row>

                            <ion-row class="fila-0"> <!--align-items-center justify-content-center-->
                                <ion-col col-4 class="col-0">
                                    Aseguradora
                                </ion-col>
                                <ion-col col-7 class="col-1">
                                    Prima Total Anual
                                </ion-col>                                
                            </ion-row>
                            <!--<ion-list class="list-wrap">-->
                            <ion-list class="list0">
                                <!--<ion-item *ngFor="let listItem of comparaList" (tap)="isClient == 'false'? changeTab('Pago') : showComparaItemDetail()">-->
                                <!--<ion-grid>-->
                                <!--<ion-item >-->
                                    <!--<ion-row align-items-center justify-content-center  class="img-wrap">
                                        <img [src]="listItem.img">
                                    </ion-row>
                                    <ion-row align-items-center class="text-wrap">
                                        <span class="value" id="valor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{listItem.value}}</span>
                                    </ion-row>
                                    <ion-row align-items-center class="arrow-button">
                                        <img src="assets/icon/bt-siguiente.png">
                                    </ion-row>-->
                                    <div class="resultado-aseguradora" *ngFor="let listItem of comparaList">
                                        <ion-row align-items-center justify-content-end (tap)="showAlertPrima('radio', listItem, userEdad, comparaList, isEnglish?'Information':'Información adicional')" class="fila0">
                                            <ion-col col-4 class="col0">
                                                <img [src]="listItem.img">
                                            </ion-col>
                                            <ion-col col-7 class="col1" align-self-center>
                                                {{listItem.value}}
                                            </ion-col>
                                            <ion-col col-1 class="col2">
                                                <ion-icon name="ios-arrow-forward"></ion-icon>
                                            </ion-col>
                                        </ion-row>
                                    </div>
                                <!--</ion-item>-->
                                <!--</ion-grid>-->
                            </ion-list>
                            <!--
                            <ion-row align-items-center justify-content-center class="bot-button" (tap)="changeTab('Pago')">
                                <span>{{ "AcquireProductPage.sendDetailedQuoteToUserText" | translate }}</span>
                            </ion-row>
                            -->
                        </ion-col>
                    </ion-row>
                
                    <ion-row *ngIf="comparaDetailShown">
                        <ion-row class="item-wrapper" style="margin-top:10px" (tap)="goToDocumentDetailPage()">
                            <ion-row>
                                <ion-row align-items-center class="sub-text">
                                    <span>{{ "AcquireProductPage.uploadDocumentText" | translate }}</span>
                                </ion-row>
                            </ion-row>
                            <ion-row align-items-center class="arrow-button">
                                <img src="assets/icon/bt-siguiente.png">
                            </ion-row>
                        </ion-row>
                        <!--
                        <ion-row align-items-center justify-content-center class="bot-button" (tap)="goToPayPolicyPage()">
                            <span>{{ "AcquireProductPage.sendDetailedQuoteToUserText" | translate }}</span>
                        </ion-row>
                        -->
                    </ion-row>
                </ion-col>            
            </ion-row>

            <!--SECCION DE PAGO-->
            <ion-row class="pago-tab" [hidden]="topTab != 'Pago'">
                <ion-row class="main-textX">
                    <span>Resumen de compra</span>
                </ion-row>      
                <ion-row class="citation-wrap">
                    <ion-row class="padding-row">
                        <ion-row class="top-text-wrap">
                            <ion-row align-items-end class="main-text">
                                <span id="marcaF"></span>
                            </ion-row>
                            <ion-row align-items-start class="sub-text">
                                <span>{{ "AcquireProductPage.carInsuranceText" | translate }}</span>
                            </ion-row>
                        </ion-row>
                        <ion-row class="company-wrap">
                            <ion-row align-items-center justify-content-center class="img-wrap">
                                <img src="assets/icon/logo/logo-axa.png" id="imgF">
                            </ion-row>
                            <ion-row  class="center-text-wrap">
                                <ion-row align-items-end justify-content-center class="main-text">
                                    <span>{{ "AcquireProductPage.wideText" | translate }}</span>
                                </ion-row>
                                <ion-row align-items-start justify-content-center class="sub-text">
                                    <span>{{ "AcquireProductPage.coverText" | translate }}</span>
                                </ion-row>
                            </ion-row>
                            <ion-row class="end-text-wrap">
                                <ion-row align-items-end justify-content-center class="main-text">
                                    <span id="primaF"></span>
                                </ion-row>
                                <ion-row align-items-start justify-content-center class="sub-text">
                                    <span>{{ "AcquireProductPage.annualText" | translate }}</span>
                                </ion-row>
                            </ion-row>
                        </ion-row>
                        <ion-row>
                            <ion-row class="main-text-title">
                                <span>{{ "AcquireProductPage.coveringsText" | translate }}</span>
                            </ion-row>
                            <ion-row class="main-info-text-wrap">
                                <ion-row class="main-text" *ngFor="let listItem of pagoList">
                                    <span>{{listItem.mainText}}</span>
                                    <span class="sub-text">{{listItem.subText}}</span>
                                </ion-row>
                            </ion-row>                                                             
                        </ion-row>
                        <ion-row>
                            <ion-row class="main-text-title">
                                <span>Datos del vehículo</span>
                            </ion-row>
                            <ion-row class="main-info-text-wrap">
                                <ion-row class="main-text" >
                                    <span>Marca:</span>
                                    <span class="sub-text">{{marca}}</span>
                                </ion-row>
                                <ion-row class="main-text" >
                                    <span>Modelo:</span>
                                    <span class="sub-text">{{modelo}}</span>
                                </ion-row> 
                                <ion-row class="main-text" >
                                    <span>Sub Marca:</span>
                                    <span class="sub-text">{{subMarca}}</span>
                                </ion-row>                                       
                                <ion-row class="main-text" >
                                    <span>Descripción:</span>
                                    <span class="sub-text">{{descripcion}}</span>
                                </ion-row>
                            </ion-row>                                                             
                        </ion-row>                             
                        <ion-row>
                            <ion-row class="main-text-title">
                                <span>Datos del contratante</span>
                            </ion-row>
                            <ion-row class="main-info-text-wrap">
                                <ion-row class="main-text" >
                                    <span>Nombre:</span>
                                    <span class="sub-text">{{nombre}}</span>
                                </ion-row>
                                <ion-row class="main-text" >
                                    <span>Apellido paterno:</span>
                                    <span class="sub-text">{{paterno}}</span>
                                </ion-row>  
                                <ion-row class="main-text" >
                                    <span>Apellido materno:</span>
                                    <span class="sub-text">{{materno}}</span>
                                </ion-row>                                                                      
                                <ion-row class="main-text" >
                                    <span>Email:</span>
                                    <span class="sub-text">{{email}}</span>
                                </ion-row>   
                                <ion-row class="main-text" >
                                    <span>Domicilio:</span>
                                    <span class="sub-text">{{domicilio}}</span>
                                </ion-row> 
                                <ion-row class="main-text" >
                                    <span>Teléfono casa:</span>
                                    <span class="sub-text">{{telCasa}}</span>
                                </ion-row>
                                <ion-row class="main-text" >
                                    <span>Teléfono móvil:</span>
                                    <span class="sub-text">{{telMovil}}</span>
                                </ion-row>                                    
                                <ion-row class="main-text" >
                                    <span>Género:</span>
                                    <span class="sub-text">{{genero}}</span>
                                </ion-row>  
                                <ion-row class="main-text" >
                                    <span>RFC:</span>
                                    <span class="sub-text">{{rfc}}</span>
                                </ion-row>                                                                                                                                                                                      
                            </ion-row>                                                            
                        </ion-row>                                                                                         
                    </ion-row>
                </ion-row>
                <ion-row align-items-center justify-content-center class="bot-button" (tap)="changeTab('Tarjeta')">
                    <span>{{ "AcquireProductPage.submitCollectionRequestText" | translate }}</span>
                </ion-row>
            </ion-row>
            
            <!-- SECCION DE TARJETA -->
            <!-- Paso 5 de 5 -->
            <ion-row class="cliente-tab" id="step5" [hidden]="topTab != 'Tarjeta'">
                <ion-col col-12>
                    <ion-row [hidden]="productoContinuarShown">
                        <ion-col col-12>
                            <ion-row class="item-wrapper input required" id="inputTarjeta" (tap)="showAlertTarjeta()">
                                <ion-col col-10>
                                    <div>Número de Tarjeta</div>
                                    <div>{{numTarjeta}}</div>
                                </ion-col>
                                <ion-col col-2>
                                    <ion-icon name="ios-arrow-forward"></ion-icon>
                                </ion-col>               
                            </ion-row>                        
                            
                            <ion-row class="item-wrapper input" id="inputTipoTarjeta">                                
                                <ion-col col-10>
                                    <div>Tipo de Tarjeta</div>
                                    <div>{{tipoTarjeta}}</div>
                                </ion-col>
                                <ion-col col-2>
                                    <ion-icon name="ios-arrow-forward"></ion-icon>
                                </ion-col>                                
                            </ion-row>
                            
                            <ion-row class="item-wrapper input required" id="inputTitular" (tap)="showAlertTitular()">
                                <ion-col col-10>
                                    <div>Titular</div>
                                    <div>{{titular}}</div>
                                </ion-col>
                                <ion-col col-2>
                                    <ion-icon name="ios-arrow-forward"></ion-icon>
                                </ion-col>                                
                            </ion-row>

                            <ion-row class="item-wrapper input" id="inputBank">
                                <ion-col col-10>
                                    <div>Banco</div>
                                    <div>{{banco}}</div>
                                </ion-col>
                                <ion-col col-2>
                                    <ion-icon name="ios-arrow-forward"></ion-icon>
                                </ion-col>
                            </ion-row>
                            
                            <ion-row>
                                <ion-col col-12>
                                    <div>Carrier</div>                                    
                                </ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col col-12>
                                    <div class="button-bar">
                                        <a class="tarjetas"><img src="assets/img/Amex.svg" id="amex"></a>
                                        <a class="tarjetas"><img src="assets/img/MasterCard.svg" id="master"></a>
                                        <a class="tarjetas"><img src="assets/img/Visa.svg" id="visa"></a>
                                    </div> 
                                </ion-col>
                            </ion-row>                                            

                            <ion-row>
                                <ion-col col-6>                                    
                                    <ion-row class="item-wrapper input required">
                                        <ion-col col-10>
                                            <div>Vigencia</div>
                                            <div>{{vigencia}}</div>
                                        </ion-col>
                                        <ion-col col-2>
                                            <ion-icon name="ios-arrow-forward"></ion-icon>
                                        </ion-col>                                        
                                        <!--<ion-datetime pickerFormat="MMM YY" displayFormat="MM/YY" min="2017" max="2030" [monthNames]="datePickerNames.month" [(ngModel)]="vigencia" cancelText="CANCELAR" doneText="OK"></ion-datetime>-->
                                    </ion-row>                                    
                                </ion-col>

                                <ion-col col-6>                                    
                                    <ion-row class="item-wrapper input required" (tap)="showAlertCvv()">
                                        <ion-col col-10>
                                            <div>CVV</div>
                                            <div>{{cvv}}</div>
                                        </ion-col>
                                        <ion-col col-2>
                                            <ion-icon name="ios-arrow-forward"></ion-icon>
                                        </ion-col>                                        
                                    </ion-row>                                    
                                </ion-col>
                            </ion-row>                                            

                            <ion-row>
                                <ion-col col-12>
                                    <ul class="list">
                                        <li class="item item-checkbox checkbox-positive">
                                            <label class="checkbox">
                                                <input type="checkbox" id="aceptoCobros"/>
                                                Acepto expresamente que se realicen los cobros de mi póliza a la tarjeta bancaria registrada y que los pagos subsecuentes sean domiciliados a la misma.
                                            </label>
                                        </li>
                                    </ul>
                                </ion-col>
                            </ion-row>
                            
                            <ion-row align-items-center justify-content-center class="bot-button" (tap)="goPaymentSubmitedPage()">   
                                Guardar y finalizar
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
</ion-content>
        